<h2 class="title">Giblog - HTMLジェネレーター</h2>

Giblogは、HTMLを静的に生成するPerl製のHTMLジェネレーターです。

<ul>
  <li>
    ホームページ作成とブログ作成の両方に対応。
  </li>
  <li>
    スマートフォン対応を意識した、デフォルトのCSSを提供。
  </li>
  <li>
    コンテンツを、ヘッダー、フッター、HTMLヘッダ、サイドバーで囲んで出力。
  </li>
  <li>
    pタグをを自動追加。preタグの中で「&lt」「&gt」を、自動的にエスケープ。
  </li>
  <li>
    titleにしたいテキストを選んで、titleタグに設定可能。
  </li>
  <li>
    descriptionにしたいテキストを選んで、メタ情報にdescriptionを設定可能。
  </li>
  <li>
    最初の段落を自動的にdescriptionに設定することも可能。
  </li>
  <li>
    コンテンツの中に最初に登場する画像のsrcを取得可能。
  </li>
  <li>
    機能のカスタマイズは、自由自在。すべてをなくすことも、自由に選ぶことも、機能を追加することも可能。
  </li>
  <li>
    機能の追加では、一覧ページを作成したり、マークダウンを使ったり、Twitterカードを設定したりできます。
  </li>
  <li>
    Mojoliciousのmorboコマンドを使って、Webサーバーを起動してWebサイトを確認可能。コンテンツやヘッダなどの変更を検知して、自動的に再構築されます。
  </li>
  <li>
    ベンチマークでは、645ページを、0.5秒で構築。
  </li>
  <li>
    gitでファイルを管理して、Github Pagesにアップロードすれば、HTTPSに対応した情報発信サイトを無料で作成できます。
  </li>
  <li>
    Perlゼミのサイト構築に実際に利用されています。
  </li>
</ul>


<h2>Webサイトの作成</h2>

Giblogは、デフォルトで４つのプロトタイプからWebサイトを作成できます。

<h3>空のサイトを作成する</h3>

<h3>ホームページを作成する</h3>

<h3>ブログを作成する</h3>

<h3>Perlゼミのひな型で作成する</h3>

